{% extends "layouts/base.html" %}
{% load static %}

{% block content %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book List</title>
</head>
<body>

<table border="1">
    <tr>
        <th colspan="2"><h1>Book List</h1></th>
    </tr>
    <tr>
        <td>
            <h3>Book 1</h3>
            <table>
                <tr>
                    <td><h4>Title</h4></td>
                    <td><a href="/book/12344321">Continuous Delivery</a></td>
                </tr>
                <tr>
                    <td><h4>Authors</h4></td>
                    <td><p>by J. Humble and D. Farley</p></td>
                </tr>
                <tr>
                    <td><h4>Description</h4></td>
                    <td><p>This book shows how to deliver your software more reliably using automated processes.</p></td>
                </tr>
                <tr>
                    <td colspan="2"><a href="{% static '/image/JD-book.jpg' %}">Show Book Pic</a></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <h3>Book 2</h3>
            <table>
                <tr>
                    <td><h4>Title</h4></td>
                    <td><a href="/book/56788765">Reversing: Secrets of Reverse Engineering</a></td>
                </tr>
                <tr>
                    <td><h4>Author</h4></td>
                    <td><p>by E. Eilam</p></td>
                </tr>
                <tr>
                    <td><h4>Description</h4></td>
                    <td><p>This book provides in-depth practical techniques and methods for reverse engineering.</p></td>
                </tr>
                <tr>
                    <td colspan="2"><a href="{% static '/image/Reversing-Reverse-Engineering-book.png' %}">Show Book Pic</a></td>
                </tr>
            </table>
        </td>
    </tr>
</table>

</body>



{% endblock content %}