{% extends "layouts/base.html" %}
{% load static %}


{% block stylesheets %}

<style>
    table, th, td {
    border: 1px solid green;
    border-collapse: collapse;
    }
   </style>  

{% endblock stylesheets %}

{% block content %}

<img src="{% static '/image/Elibrary-h.png' %}" >

<a href= {% static '/image/Elibrary-h.png' %} >show Pic</a>


<h1> Hello evreyone to Elibrary Website !</h1>


<hr size="8" width="90%" color="green"> 

<a href="/books">Avaialble books</a>

{% endblock content %}

