<!DOCTYPE html>
<html lang="en">
 <head>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width">
 <title>
 EBook - {% block title %}{% endblock %}
 </title>
 
 <style>
    table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    }
   </style>
 
  {% block stylesheets %}
  
  {% endblock stylesheets %}


 

 </head>
 <body>
 {% include 'includes/header.html' %}
 
 
 {% block content %}
 {% endblock content %}
 

 {% include 'includes/footer.html' %}
 </body>
</html>